body,html {
	margin:0;
	height:100%;
	width:100%;
}

body {
    display: grid;
	grid-template-rows: 90px 1fr;
	grid-template-columns: 350px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content";
}

.header {
	grid-area: header;
	padding:10px;
    background-color: #2b6777;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.sidebar {
	grid-area: sidebar;
	padding-left:20px;
    padding-right:20px;
    background-color: #E3F6F5;
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
    background-color: #BAE8E8;
    width: 300px;
    border: 2px solid #8ecaca;
    border-radius: 15px;
}

.main {
    position:relative;
    width: 300px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
}

.main:before {
    content:'';
    position: absolute;
    width: 250px;
    height: 140px;
    margin: auto;
    z-index: -1;
    border: 5px solid lightgray;
    left: 10px;
}

.boxinbox {
    text-align: center;
    background-color: white;
    width: 300px;
}

.main2 {
    position:relative;
    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main2:before {
    content:'';
    position: absolute;
    width: 250px;
    height: 140px;
    margin: auto;
    z-index: -1;
    border: 5px solid lightgray;
    left: 10px;
}

#map {
	height: 100%;
}

.content {
	grid-area: content;
}