body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	font-family: "Poppins";
	display: grid;
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 30% 70%;
	grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";
}

.header {
	grid-area: header;
	background-color: #a81612;
	color: white;
	font-size: 2em;
	font-weight: bolder;
	text-align: center;
}

.center{
	padding: 15px 0 15px;
}

.sidebar {
	color: white;
	grid-area: sidebar;
	padding:20px;
	background-color: #451400;
	overflow: auto;
}

.sidebar-text{
	text-align: center;
    background-color: rgb(0, 0, 0);
    margin: 3px;
    padding: 5px;
    border-radius: 10px;
}

.sidebar-item{
	padding: 10px;
	background: #545454;
	color: white;
	margin: 5px;
	cursor: pointer;
	border-radius: 5px;
}

.sidebar-item:hover {
	background: #e0e0e0;
	color: black;
}


.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
	padding:10px;
	color: white;
	background-color: rgb(0, 0, 0);
}